name: Lambda
on:
  push:
    branches:
      - main
  pull_request: 
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get GitHub Commit SHA based on Ref
        id: commit
        run: |
          if [[ '${{ github.ref }}' == 'refs/heads/main' ]]; then
              echo "sha=${{ github.sha }}" >> $GITHUB_OUTPUT
          else
              echo "sha=${{ github.event.pull_request.head.sha }}" >> $GITHUB_OUTPUT
          fi
      # Checkout the pull request branch
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build
        run: make build

      - name: Deploy
        run: aws s3 cp --acl public-read artifacts/lambda.zip s3://artifacts.prod.cloudposse.org/${{ github.event.repository.name }}/${{ steps.commit.outputs.sha }}/lambda.zip
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_EC2_METADATA_DISABLED: true

      - name: Test Download from CDN
        run: curl -fsSL -o /dev/null https://artifacts.cloudposse.com/${{ github.event.repository.name }}/${{ steps.commit.outputs.sha }}/lambda.zip
